.container {
  padding: 10px;
}

.title {
  font-size: x-large !important;
  font-weight: lighter !important;
  color: #878787 !important;
  line-height: 1.2;
  text-align: left;
  font-family: arial, sans-serif;
}

.subHeader {
  font-size: medium !important;
  font-weight: lighter !important;
  color: #878787 !important;
  font-family: arial, sans-serif;
  line-height: 1.2;
  text-align: left;
}
